
$wrapperBackground: #dcbb9a;


$contentBackground: #ffffff;

$headersFontFamily: "Times New Roman", serif;
$headersColor: #893c00;

$haderTextTransform: none;

$textMainColor: #000000;

$imgBorderColor: #893c00;


$briefWidth: 384px;
$briefFloat: left;
$briefMarginRight: 20px;
$briefMarginBottom: 0;
$briefPadding: 20px;
$briefTextColor: #000000;
$briefTextBackground: #fadcba;

$linksColor: #3d70a1;

$tableHeaderBackground: #e0e0e0;
$tableHeaderRigthBorder: #ffffff;
$tableHeaderColor: #000000;
$tableRowBottomBorder: #e0e0e0;
$tableRowBackground: #ffffff;
$tableCaptionColor: #000000;
$tableTextColor: #000000;

$formTextColor: #808080;
$formInputBorderColor: #e0e0e0;
$buttonBordersColor: #3d70a1;
$buttonTextColor: #3d70a1;
$buttonTextColorHover: #ffffff;
$buttonBackground: #ffffff;
$buttonBackgroundHover: #3d70a1;